/* #8BCFFC */
/* #73C0F4 */
/* #64B3E8 */
/* #5AA7DB */
/* #459DD9 */
/* #3C87BA */


/* For IE bug fix */
/* @import url('/css/notosans.css');  */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,600,700,900&display=swap');


*, *:before, *:after {
	box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	background: #FFFFFF;
	color: #333333;
	word-break: keep-all;
	position: relative;
}
body.overflow-hidden {
	overflow: hidden;
}

a, a:hover, a:visited, a:hover, a:focus, a:active {
	color: #333333;
	text-decoration: none;
}

input {
	color: #555555;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

input, textarea, select, button {
	font-family: 'Noto Sans KR', sans-serif;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
	cursor: pointer;
}
select::-ms-expand {
	display: none;
}

input::placeholder, textarea::placeholder {
	color: #AAAAAA;
}

button {
	background: transparent;
}

.wrapper {
    width: 1024px;
    max-width: 96%;
    margin: 0 auto;
}

header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .title-wrapper {
    display: inline-block;
    width: 280px;
    height: 100%;
    position: relative;
}
header .title-wrapper .title {
    font-size: 1.3rem;
    width: 100%;
    margin: 0;
    text-align: center;
    position: absolute;
	bottom: 50%;
    -webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}

nav.side-menu {
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border-right: 1px solid #DFDFDF;
    z-index: 998;
    margin-top: 80px;
    overflow-y: auto;
    padding: 32px;
}
nav.side-menu .main-menu {
    width: 100%;
    padding: 16px 0;
    font-size: 1.2rem;
}
nav.side-menu ul {
    padding: 0 0 0 12px;
    margin: 0;
    list-style: none;
}
nav.side-menu ul li {
    padding: 8px 0;
    color: #777777;
    font-weight: 300;
}
nav.side-menu ul li:hover,
nav.side-menu ul li.selected {
	color: #333333;
	font-weight: 400;
}

article {
    margin-top: 80px;
    padding-left: 280px;
}

footer {
    background: #EFEFEF;
    padding-left: 280px;
}
footer .wrapper {
    padding: 84px 0;
    text-align: center;
}

button.default {
    background: #666666;
    color: #FFFFFF;
    border: none;
    padding: 0 24px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    height: 40px;
}
button.default:hover {
    background: #555555;
}
button.default.disabled {
	background: #DFDFDF;
	cursor: default;
}
input.default,
textarea.default,
select.default {
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}
input.default:focus,
textarea.default:focus,
select.default:focus {
	border: 2px solid #999999;
}


nav.data-bottom-menu {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -72px;
    z-index: 997;
    padding: 16px 0 16px 280px;
    text-align: right;
}
nav.data-bottom-menu .wrapper {
    padding: 0;
}
nav.data-bottom-menu .wrapper button {
    margin-left: 12px;
}
nav.data-bottom-menu .wrapper button:first-child {
    margin-left: 0;
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	z-index: 999;
}

/* loading spinner */
.lds-roller {
	display: inline-block;
	position: fixed;
	width: 80px;
	height: 80px;
	right: 50%;
	bottom: 50%;
    -webkit-transform: translate(50%, 50%);
	-moz-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	-o-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
	z-index: 1000;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #666666;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
